<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio de sesión Humantech
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section *ngIf="isLoggedIn; else loginItems">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{email}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </section>    
  <section>
    <ion-button *ngIf="!isLoggedIn" (click)="createAccount()">Registrar</ion-button>
    <ion-button *ngIf="!isLoggedIn" (click)="login()">Iniciar Sesión</ion-button>
    <ion-button *ngIf="isLoggedIn" (click)="logout()">Cerrar Sesión</ion-button>
  </section>

  <ng-template #loginItems>
    <ion-item>
      <ion-label>
        Correo electrónico
      </ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        Contraseña
      </ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ng-template>  
</ion-content>
